name: Continuous Integration

on:
  pull_request:
    branches:
      - main
    paths:
      - 'actions/asa-helper-action/**'
  push:
    branches:
      - main
    paths:
      - 'actions/asa-helper-action/**'

permissions:
  contents: read

jobs:
  test-docker:
    name: Docker Tests
    runs-on: ubuntu-latest

    # Run a local registry to push to
    services:
      registry:
        image: registry:2
        ports:
          - 5001:5000

    env:
      TEST_TAG: localhost:5001/actions/asa-helper-action:latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Docker BuildX
        id: setup-buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver-opts: network=host

      - name: Build the Container
        id: build
        uses: docker/build-push-action@v5
        with:
          context: actions/asa-helper-action/.
          push: true
          tags: ${{ env.TEST_TAG }}

      - name: Run the Container
        id: run
        env:
          INPUT_WHO_TO_GREET: Mona Lisa Octocat
        run: |
          docker run \
            --env INPUT_WHO_TO_GREET="${{ env.INPUT_WHO_TO_GREET }}" \
            --env jobOptions:JobName=TestJob \
            --env JobOptions:ResourceGroup=TestRG \
            --env JobOptions:SubscriptionId=TestSubId \
            --env jobOptions:JobQuery="select *" \
            --env jobOptions:StartTime="2022-01-01T00:00:00Z" \
            --rm ${{ env.TEST_TAG }}

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Test Local Action
        id: test-action
        uses: ./actions/asa-helper-action/
        with:
          job-name: TestJob
          resource-group: TestRG
          subscription: TestSubId
          job-query: "select *"
          start-time: "2022-01-01T00:00:00Z"

      - name: Print Output
        id: output
        run: echo "${{ steps.test-action.outputs.result }}"
